ul{
    color :white;
}
ul{
    color: black;
}
H1{
    color:rgb(24, 23, 23)
}

.homeimg{
    width: 100%;
    height: 300px;
}

.container-fluid{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}


