body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; 
   
   background: cover;
    backdrop-filter: blur();
    background-color: rgb(254, 254, 254);

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(239, 235, 235, 0); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.login {
    width: 500px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    font-family: 'calibri';
    border: 2px solid #0f0f0f97;
    background-color: rgba(25, 25, 25, 0.118);
    backdrop-filter: blur(0.6rem);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.126);
}

.login h3 {
    color: rgb(7, 7, 7);
    font-size: 16px;
    margin-bottom: 10px;
}

.login label {
    display: block;
    margin-bottom: 5px;
    color: rgb(8, 8, 8);
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid #0a0a0aa8;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: transparent;
   
}

.login button {
    background-color: #3f405200;
    color: rgb(5, 4, 4);
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
    margin: 15%;
    font-size: 16px;
}

.login button:hover {
    background-color: #27272700;
}

.login button a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.login button a:hover {
    text-decoration: underline;
}

.log{
    height: 1000px;
    width: 100%;
    }
.about{
padding: 5%;
height: 600px;
width: 100%;
height: 100%;
}